<launch>
  <node pkg="omni_stitch_capture" type="omni_stitch_capture_node.py" name="omni_stitch_capture_node" output="screen">
    <param name="left_topic" value="/fisheye/left/image_raw" />
    <param name="right_topic" value="/fisheye/right/image_raw" />
    <param name="odom_topic" value="/aft_mapped_to_init" />

    <param name="output_capture_topic" value="/omni_stitch_capture/capture" />
    <param name="output_image_topic" value="/omni_stitch_capture/image_raw" />
    <param name="output_pose_topic" value="/omni_stitch_capture/pose" />
    <param name="publish_legacy_topics" value="true" />
    <param name="frame_id" value="stitched_sphere" />

    <param name="intrinsics_path" value="/home/pray/omni_ws/src/Omni-LIVO/Omni-LIVO/config/camera_intrinsics.yaml" />
    <param name="config_path" value="/home/pray/omni_ws/src/Omni-LIVO/Omni-LIVO/config/mid360_multi_cam_right_delay.yaml" />

    <param name="left_camera_id" value="0" />
    <param name="right_camera_id" value="1" />
    <param name="max_pair_diff_sec" value="0.005" />
    <param name="pose_match_max_diff_sec" value="0.10" />
    <param name="pose_fallback_max_diff_sec" value="0.50" />
    <param name="pose_time_offset_sec" value="0.0" />
    <param name="auto_pose_time_offset" value="true" />
    <param name="auto_pose_time_offset_trigger_sec" value="10.0" />

    <param name="capture_spacing_m" value="4.0" />
    <param name="corner_min_separation_m" value="1.0" />
    <param name="corner_min_travel_m" value="2.0" />
    <param name="corner_yaw_threshold_deg" value="60.0" />
    <param name="candidate_frame_count" value="5" />
    <param name="blur_min_laplacian_var" value="80.0" />

    <param name="band_width" value="1920" />
    <param name="band_height" value="960" />
    <param name="canvas_height" value="960" />
    <param name="canvas_anchor" value="top" />
    <param name="yaw_min_deg" value="-180.0" />
    <param name="yaw_max_deg" value="180.0" />
    <param name="pitch_min_deg" value="-90.0" />
    <param name="pitch_max_deg" value="90.0" />
    <param name="max_incidence_deg" value="105.0" />
    <param name="edge_blend_px" value="40.0" />
  </node>
</launch>
